/* Head */
a{
    font-size: 12px;
    font-family: arial;
}
#navbar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%
}
ul{
    list-style-type: none;
    display:flex;
    padding-left: 12px;
    padding-right: 12px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding:9px; /* padding between nav items */
}
#nav-li-3{
    margin-left:auto; /* Separates the elem in navbar. Auto margin will take up all the space it can in the axis */
}
ul li:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
#icon-settings, #icon-profile{
    height:18px;
    border-radius: 20%;
}
#icon-settings:hover, #icon-profile:hover{
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.142);
}
/* Head */

/* Body */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:136px;

}
#img-google{
    width:231px;
}
#input-googleSearch{
    -webkit-appearance: none; /* allows setting height */
    width:497px;
    height: 40px;
    border-radius: 20px;
    margin:22px;

    border-style: solid;
    border-width: 0.5px;
    border-color: #C8C8C8;
    outline: none;  

    background-image: url('../Resources/outline_search_black_24dp.png');
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size:15px;
    padding-inline-start: 33px;  
    font-size: 14px;      
}
#input-googleSearch:hover, #input-googleSearch:focus {
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.067);
    border-style: none;
}

#div-btns{
    min-width: 243px;
}
#btn-search, #btn-lucky {
   border:none; /* allows changing buttton height */
   min-width:111px; 
   height: 31px;
   font-size: 12px;
   background-color:#F8F8F8;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 2px;

   text-align: center;
}
#btn-lucky {
    margin-left:7px;
}
#btn-search:hover, #btn-lucky:hover{
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.149);
} 
/* Body */

/* Footer */
#footer{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
}
#footer a{
    text-decoration: none;
    color: #505050;
}
#img-leaf{
    width:12px;
    padding-right:5px;
}
#footer-linkTitle{
    position: absolute;
    width:100%;
    text-align: center;
}
#footer-links {
    width:100%;
    display: flex;
    justify-content:flex-start;
}
#footer-links a{
    text-decoration: none;
    color: #505050;
}
#footer-link1{
    margin-left:28px;
}
#footer-link2{
    margin-left:28px;
}
#footer-link3{
    margin-left:28px;
}
#footer-link4{
    margin-left:auto;
    margin-right:28px;
}
#footer-link5{
    margin-right:28px;
}
#footer-link6{
    margin-right:28px;
}
#footer-links a:hover, #footer-linkTitle:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}

@media (max-width:1020px){
    #footer{
        height:80px;
    }
    #footer-linkTitle{
        top:0px;
        margin-top:11px;
    }
    #footer-links a{
        margin-top:40px;
    }
    #footer-link1{
        margin-left:158px auto;
    }
    #footer-link6{
        margin-right:158px auto;
    }
}
/* Footer */
